*{

  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container{
  display: flex;
}
 main{
   width: 100%;
   padding: 20px;
 }
 .sidebar{
  background: #010120;
  color: white;
  height: 100vh;
  width:  300px;
  box-shadow: #26263f;
  transition:all 0.5s;
 }
 .top_section{
  display:flex;
  align-items: center;
  padding: 20px 15px;
 }
 .logo{
  font-size: 30px;
 }
 .bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
 }
 .link{
  display: flex;
  color: white;

  background: repeating-linear-gradient(to bottom right, rgb(18, 18, 94), rgb(8, 8, 1));
 
  
  background-color: transparent;
  padding: 10px 15px;
  gap: 30px;
  transition:all 0.5s;
  border-radius: 30px;
  box-shadow: transparent;

 }
.link:hover{
  background: rgb(19, 86, 131) ;
  color: black;
  transition: all 0.5s;
}
.active{
  background: rgb(0, 26, 255) ;
  color: black;
  
  
}
.icon,.link_text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}
.border_radius{
  border-radius: 25px;
}